.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}

.text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.text-xs{
    font-size: .75rem;
    line-height: 1rem;
}

.ct {
    grid-template-columns: repeat(10,minmax(0,1fr));
    max-width: 72rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.ct-l {
    grid-column: span 2/span 2;
}

.ct-l-2 {
    top: 5rem;
}

.menu-ava {
    grid-template-columns: repeat(12,minmax(0,1fr));
}

.ava {
    grid-column: span 3/span 3;
}

.ava-l {
    border-width: 1px;
}

.ava-r {
    grid-column: span 9/span 9;
}

.ic-cop {--tw-text-opacity: 1;
    color: rgba(82,82,82,var(--tw-text-opacity));
    cursor: pointer;
    width: 1rem;
    height: 1rem;
}

.t-color {
    color: #DF4646;
}

.p {
    margin-bottom: 0px;
}

.bot-b {
    border-bottom-width: 1px;
    width: 75%;
    margin-bottom: 1rem;
    border-color: #000;
}

.br-9999 {
    border-radius: 9999px;
}

.w-175 {
    width: 1.75rem;
}

.h-175 {
    height: 1.75rem;
}

.tk-b {
    margin-left: 2rem;
}

.ntc{
    margin: 0px;
}

p{
    margin-bottom:0px !important;
}

.form-nt {
    max-width: 24rem;
}

.btn-nt {
    width: 8rem;
    text-align: center;
    background-color: #DC2626;
    border: 0px;
}

.text-br-color{
    border: 2px solid #fcd34d;
}

.tb-tn{
    background-color: #E5E5E5;
}

.tr-table-tn{
    letter-spacing: 0.025rem;
}

.user{
        top: 5px;
    position: absolute;
    left: 7px;
}

.dx {
    border: 0px;
    background-color: #EF4444;
}

.dmk{
    margin-bottom: 0px ;
}

.mkht{
    max-width: 24rem;
}

.border-tb {
    border-bottom: 1px solid #e5e5e5;
}
